<h2>Log in</h2>
<div class="container">
  <div class ="columns has-text-centered">
    <div class="column is-half container ">
      <div class="card p-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class:"label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input"  %>
          </div>
          <div class="field">
            <%= f.label :password,  class:"label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "input"  %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class: "checkbox"  %>
              <%= f.label :remember_me, class:"label" %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in", class: "button is-link" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
