<div class="container">
  <div class ="columns has-text-centered">
    <div class="column is-half container ">
      <div class="card p-6">
        <%= form_with(model: category) do |form| %>
          <% if category.errors.any? %>
            <div class="has-text-danger" >
              <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
              <ul>
                <% category.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :name, class: "label" %>
            <%= form.text_field :name, class: "input" %>
          </div>
          <div class="actions control">
            <% l = request.path.include?("edit") ? 'Edit category' : 'Create category' %>
            <%= form.submit l, class: "button is-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
