<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav class = "navbar">
  <div class= "navbar-brand">
  
  </div>
  <div class="navbar-menu"> 
   <div class="navbar-start">
    <%= link_to 'Products', products_path, class: "navbar-item" %>
    <%= link_to 'Categories', categories_path, class: "navbar-item" %>
    <%= link_to "Export dowmload products ", products_path(format: "xlsx"), class:"navbar-item" %> <span class='icon'><i class="fas fa-file-excel"></i></span>
   </div>
   
   <div class="navbar-end">
    <%= current_authorize() %>
   </div>
  </div>
  </nav>
    <%= yield %>
  </body>
</html>
